#root {
  width: 100vw;
}

.App {
  padding-top: 10px;
  width: 900px;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
}

input[type=submit] {
  width: 200px;
  height: 40px;
  background-color: rgba(21,71,255,0.79);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(21,71,255,0.90)
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

label {
  text-align: left;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: -120px;
}

.footer-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.todos {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
}

.todo {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(21,71,255, 1);
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.todo__wrap {
  display: flex;
  flex-direction: column;
}

.delete {
  width: 25px;
  height: 25px;
  color: white;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(21,71,255,0.79);
  cursor: pointer;
}

.delete:hover {
  background-color: rgba(21,71,255,0.90);
  color: red;
}